<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<header id=header>
  <button id=stupid>
    <i class="material-icons">face</i>
  </button>
  {{loggedInUser}}
  <div style='float: right'>
    <button (click)="logout()"><i class="material-icons">logout</i></button>
    <div class="divider"></div>
    <button routerLink=""><i class="material-icons">home</i></button>
  </div>
</header>

<app-dashboard></app-dashboard>


<button (click)="newRoutine()">New routine</button>
<div *ngIf="showNewRoutine">
  <app-create-routine></app-create-routine>
</div>









