
<p>
    <button routerLink="">
        Home
    </button>
</p>

      
<table>
  <tr>
    <td>
      Enter a username
    </td>
    <td>
      <input type="text" [(ngModel)]="username"/>
    </td>
          </tr>
          <tr>
        
          </tr>
          <tr>
            <td>
              Enter a password
            </td>
            <td>
                <input type="text" [(ngModel)]="password"/>
            </td>
          </tr>
          <tr>
        
          </tr>
          <tr>
            <button (click)="login()">
              login
            </button>
          </tr>
        </table>
      