
<div *ngIf="status==0" style="text-align: right;">
    <button class=add (click)=changeStatus()>Add specifications</button>
</div>

<div *ngIf="status==1">
  <h2>Specify the exercise you want to add:</h2>

  <div *ngIf="Estatus==0">
    <p>Choose an exercise: 
    <select name="exerciseControl" [(ngModel)]="this.selectedExercise" style="width:150px;">
      <option [ngValue]="exercise" *ngFor="let exercise of exercises">{{exercise.name}}</option>
    </select></p>
    <p>Or create a new one: <button (click)="Estatus=1">New exercise</button></p>
  </div>
  <div *ngIf="Estatus==1">
    <table>
      <tr><th>New exercise</th></tr>
      <tr><td>Exercise type:</td><td><input type="text" [(ngModel)]="name"/></td></tr>
      <tr><td>Description:</td><td><input type="text" [(ngModel)]="description"/></td></tr>
    </table>
  </div>

  <br>

  <table>
    <tr><th>Add information</th></tr>
    <tr><td>Repetitions:</td><td><input type="number" [(ngModel)]="repetitions"/></td></tr>
    <tr><td>Seconds break:</td><td><input type="number" [(ngModel)]="secBreak"/></td></tr>
    <tr><td>Other:</td><td><input type="text" [(ngModel)]="other"/></td></tr>
  </table>

  <p>
    <button class=add (click)="checkExercise()">Add</button>
  </p>
</div>
 
  

