<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id=body>
  <h1>My routines</h1>
  <p *ngFor="let routine of routines">
    {{routine.name}}
    <!--<input type=text value={{routine.name}} (change)="changeRoutineName(routine.id, $event)" />-->
    <button class=options (click)=deleteRoutine(routine)><i class="material-icons" >delete_outline</i></button>
    <button class=options (click)=selectRoutine(routine)><i class="material-icons">add</i></button>
  </p>
</div>

<app-create-routine (added)=updateRoutines()></app-create-routine>

<br>
  <div *ngIf="checkSelected()">
    <h3>Specifications of: {{selectedRoutine.name}}</h3>
    <p *ngIf="specifications?.length < 1">No specifications were added.</p>
    <p *ngFor="let specification of specifications">
      {{specification.name}}
      <button class=delete (click)=deleteSpecification(specification)><i class="material-icons" >delete_outline</i></button>
    </p>
  </div>
<br>

<app-create-exercise (added)=updateSpecifications()></app-create-exercise>