<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id=body>
  <h1>My routines</h1>
  <p *ngFor="let routine of routines">
    {{routine.name}}
    <button class=options (click)=deleteRoutine(routine)><i class="material-icons" >delete_outline</i></button>
    <button class=options (click)=selectRoutine(routine)><i class="material-icons">add</i></button>
  </p>
</div>

<br> <br>
  <div *ngIf="checkSelected()">
    <h3>Specifications of: {{selectedRoutine.name}}</h3>
    <p *ngIf=emptyList()>No specifications were added.</p>
    <p *ngFor="let specification of specifications">
      {{specification.name}}
      <button class=delete (click)=deleteSpecification(specification)><i class="material-icons" >delete_outline</i></button>
    </p>
  </div>